* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    font-family: Arial, sans-serif;
    flex-direction: column; /* Para alinear todo en una columna */
}

.container {
    text-align: center;
}

.logo {
    width: 300px; /* Tamaño ajustado del logo */
    margin-bottom: 50px;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1); /* Animación al pasar el mouse */
}

.line {
    width: 100%; /* Cambia el ancho para ocupar toda la pantalla */
    border: 1px solid #000;
    margin: 15px 0; /* Ajusta el margen para que no se sobreponga a otros elementos */
    position: absolute; /* Hacemos que la línea se posicione de manera absoluta */
    top: 60%; /* Ajusta la altura de la línea según tu necesidad */
    left: 0; /* Alinea la línea con el borde izquierdo */
}


.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

button {
    padding: 15px 30px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    transform: scale(1.1); /* Animación al pasar el mouse */
    background-color: #333; /* Color más oscuro al hacer hover */
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px; /* Añadimos más espacio para que no quede tan pegado */
}

.social-icon {
    width: 40px;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.3); /* Animación de crecimiento */
}

.hidden {
    display: none;
}











