* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    background-color: #f5f5f5;
}

.container {
    display: flex;
    width: 1400px; /* Ajusta el ancho para que coincida con la imagen */
    height: 700px; /* Ajusta la altura para que coincida con la imagen */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-section {
    width: 50%;
    background-color: #333;
    position: relative;
}

.left-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.right-section {
    width: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.forgot-password {
    display: flex; /* Cambiar a flexbox para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    margin-bottom: 20px; /* Margen para separar del botón */
}

.forgot-password a {
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}