<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Always Salon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
    <style>
        .forgot-password {
            text-align: right;
            display: block;
            margin-bottom: 20px;
            font-size: 0.9em;
        }
        .forgot-password a {
            color: #000000;
            text-decoration: none;
        }
        .forgot-password a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="left-section">
            <img src="{{ url_for('static', filename='img/image2.png') }}" alt="Always Salon">
        </div>
        <div class="right-section">
            <form action="{{ url_for('iniciar_sesion') }}" method="POST">
                <h3>Iniciar Sesión</h3>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Iniciar sesión</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script src="{{ url_for('static', filename='js/alerts.js') }}"></script>
   <!-- Aquí se insertan las notificaciones -->
   {% with messages = get_flashed_messages() %}
   {% if messages %}
       {% for message in messages %}
           <script>
               showNotification('error', "{{ message }}");
           </script>
       {% endfor %}
   {% endif %}
{% endwith %}
</body>
</html>