<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Always Salon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='inicio.css') }}">
    <style>
        .forgot-password {
            text-align: right;
            display: block;
            margin-bottom: 20px;
            font-size: 0.9em;
        }
        .forgot-password a {
            color: #333;
            text-decoration: none;
        }
        .forgot-password a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="left-section">
            <img src="{{ url_for('static', filename='img/image2.png') }}" alt="Always Salon">
        </div>
        <div class="right-section">
            <form action="{{ url_for('iniciar_sesion') }}" method="POST">
                <h2>Iniciar Sesión</h2>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Iniciar sesión</button>
                <span class="forgot-password"><a href="#">¿Olvidaste tu contraseña?</a></span>
            </form>
        </div>
    </div>
</body>
</html>
