<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alba's Salon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pantallaini.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="Logo Alba's Salon">
        </div>
    </header>

    <main>
        <section class="main-banner">
            <h2>ALBA'S SALON</h2>
            <div class="overlay-icons">
                <div class="icon">
                    <img src="{{ url_for('static', filename='img/ambientador.svg') }}" alt="Servicio">
                    <a href="{{ url_for('servicio') }}">Servicio</a>
                </div>
                <div class="icon">
                    <img src="{{ url_for('static', filename='img/caja-abierta-llena.svg') }}" alt="Productos">
                    <a href="{{ url_for('productos') }}">Productos</a>
                </div>
                <div class="icon">
                    <img src="{{ url_for('static', filename='img/carrito-de-compras.svg') }}" alt="Carrito">
                    <a href="{{ url_for('carrito') }}">Carrito</a>
                </div>
                <div class="icon">
                    <img src="{{ url_for('static', filename='img/directorio.svg') }}" alt="Perfil">
                    <a href="{{ url_for('perfil') }}">Perfil</a>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
